<div class="navbar">
    <h1 class="hero-title">Bloc Chat</h1>
    <span class="new-room-button" type="button" ng-click="main.addRoom()">New Room</span>
        <div ng-repeat="room in main.rooms">
            <p class="room-name" ng-click="main.setCurrentRoom(room)">{{ room.name }}</p>
    </div>
</div>
<div class = "messages">
    <div class="messages-header">
        <h3>{{main.currentRoom.name}}</h3>
    </div>
    <div class="messages-body" ng-repeat="message in main.messages">
        <div class="username">{{ message.username }}</div>
        <div class="timestamp">{{ message.sentAt }}</div>
        <div class="user-message">{{ message.content }}</div>
    </div>

</div>
