<section class='modal-box'>
    <div class="modal-top">
        <h1 class="modal-title">Create A New Room</h1>
    </div>
    <div class="modal-mid">
        <h2 class="modal-input">Enter A Room Name</h2>
            <input type="text" name="input" ng-model="modal.newRoom.name">
    </div>
    <div class="modal-bot">
        <button class="cancel-button" type="button" ng-click="">Cancel</button>
        <button class="newRoom-button" type="button" ng-click="">Create Room</button>
    </div>

</section>